canvas {
      display: block;
      background-repeat: full;
    }
    body 
    {
       
        background-image: url(backg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}

        .style{ 
          position: relative;
          margin: 10%;
          width: 300px;
          height: 200px;
          float: left;
          background-color:rgba(249, 242, 242, 0.717);
          border-radius: 5px;
          border-width: medium;
          /* border: solid; */
           padding: 40px;
          margin-left: 5%;
            margin-top: 20%;
        
            }
            .styl{ 
              font-size: large;
              
            }
            p{
              text-decoration: bold;
              color:#080b08;
            }
            #button{

              padding: 10px;
              color: black;
              font-weight: bold;
              background-color: lightblue;
              border: none;
            }
            a{
              text-decoration:none;
              color:black;
          }
          a:hover{
              color:white;
          }
          td {
            padding: 10px;
          }
